<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Wouter De Smet -->
<!--r0785520-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;900&display=swap" rel="stylesheet">
    <title>Project SUPERmarkt</title>
</head>
<body>
<header><h1>Project SUPERmarkt</h1></header>
<div class="container">
    <form action="/11_zoekOpNaam">
        <p>
            <label for="zoekID">Zoek een afdeling </label>
            <input id="zoekID" name="zoek" type="text" placeholder="bv. Drank">
            <input name="zoek" type="submit" value="Zoeken!">
        </p>
    </form>
    <p><a href="/0_overzichtPersoneelMetWedde">Examen: Overzicht personeelsleden MET wedde</a></p>
    <p><a href="/1_nieuweKlant">Nieuwe klant? Registreer hier</a></p>
    <p><a href="/3_nieuwPersoneelslid">Nieuw personeelslid? Registreer hier</a></p>
    <p><a href="/7_nieuweSupermarkt">Nieuwe supermarkt? Registreer hier</a></p>
    <p><a href="/9_nieuweAfdeling">Nieuwe afdeling? Registreer hier</a></p>
    <p><a href="/6_overzichtKlanten">Overzicht van klanten</a></p>
    <p><a href="/5_overzichtPersoneel">Overzicht van personeelsleden</a></p>
    <p><a href="/8_overzichtSupermarkten_tonen">Overzicht supermarkten</a></p>
    <a href="https://github.com/Wouter127/SUPERmarkt_CI-CD">Github repo</a>
    <h1>extra testje</h1>
</div>
<footer><p>Wouter De Smet uit 1ITFA2 (R0785520), ThomasMore Geel</p></footer>

</body>
</html>